<h1>{{title}}</h1>
<h1>{{description}}</h1>
<a href="/notes/add">Ajouter une nouvelle note</a>

{{!-- {{#if notes}} --}}
    {{#each note}}
        
            <div>

                {{!-- <a href="/notes/delete/{{this._id}}">Delete</a>
                <a href="/notes/update/{{this._id}}">Mettre a jour</a> --}}
                <br>
                <a href="/notes/{{this.id}}">Voir les détails de la note : {{this.note}}</a>
                <br>Note:{{this.note}}
                <br>titre:{{this.titre}}
                <br>author:{{this.author}}
            </div>
        
    {{/each}}
{{!-- {{else}}
Po de chars
{{/if}} --}}