<h1>titre : {{note.title}}</h1>
<h2>Priorité : {{note.priority}}</h2>
<p>Note : {{note.note}}</p>
<p>Autheur : {{note.author}}</p>
<br>
<a href="/notes/update/{{note.id}}">Mettre a jour</a>
<br>
<a href="/notes/delete/{{note.id}}">Detruire</a>
<h1>Note id: {{note.id}}</h1>
